@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
}
.container {
    width: 80%;
    margin:0 auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    margin:50px 0;
}

td {
    border:1px solid #e1e1e1;
    padding:8px;
    text-align: center;
    font-size:18px;
}

.td-op {
    width: 200px;
}

img {
    width: 120px;
    height: 120px;
}

.barra {
    width: 120px;
    height: 20px;
    background:#015726;
    margin:2px;
    position:relative;
}

.barra > div {
    background:#109e4d;
    height: 100%;
}

.barra > span {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    color:#000;
    left:35%;
}

.stats {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding:12px 15px;
    border:0;
    border-radius: 4px;
    margin:3px;
    cursor:pointer;
    color:#fff;
}

.cgreen {
    background:#57c934;
}

.cred {
    background:#eb0202;
}

/* */

.popup {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.5);
    z-index:999;
    justify-content: center;
    align-items: center;
    display:none;
}

.popupcontent {
    width: 50%;
    max-height: 500px;
    background:#fff;
    position:relative;
    border-radius: 5px;
    border:1px solid #e1e1e1;
    overflow-y: auto;
}

.popupcontent > div {
    padding:20px;
}

.popuptit {
    border-bottom:1px solid #e1e1e1;
    display:flex;
    position:sticky;
    top:0;
    left:0;
    background:#fff;
}

.popuptit span {
    width: 100%;
    text-align: center;
    font-size:20px;
}
.search {
    width: 100%;
    box-sizing: border-box;
    padding:10px;
    font-size:18px;
}

input {
    flex:1;
    outline:0;
    font-size:18px;
    padding:4px;
}

.search button {
    padding:5px;
    cursor:pointer;
}

.popupClose {
    width: 40px;
    height: 40px;
    background:#fff;
    border-radius: 50%;
    position:absolute;
    right:20px;
    top:8px;
    border:1px solid #e1e1e1;
    box-shadow: 0px 0px 13px -8px #000;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.td-se {
    cursor:pointer;
}
.td-se:hover {
    background:#f5f5f5;
}


.contenedor {
    margin: 2rem auto;
    border: 1px solid #aaa;
    height: 300px;
    width:90%;
    max-width: 400px;
    background: #f1f2f3;
    overflow:auto;
    box-sizing: border-box;
    padding:0 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.popupcontent::-webkit-scrollbar {
    -webkit-appearance: none;
}

.popupcontent::-webkit-scrollbar:vertical {
    width:10px;
}

.popupcontent::-webkit-scrollbar-button:increment,.popupcontent::-webkit-scrollbar-button {
    display: none;
} 

.popupcontent::-webkit-scrollbar:horizontal {
    height: 10px;
}

.popupcontent::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.popupcontent::-webkit-scrollbar-track {
    border-radius: 10px;  
}

@media screen and (max-width:700px) {
    .popupcontent {
        width: 90%;
    }
}